<% provide(:title, "News") %>
<div class="ui one column stackable centered vertically padded page grid">
    <div class="twelve wide column">
    <%= form_for @announcement, :url => { :controller => 'admin', :action => 'announcement_create' }, :html => { class: "ui form segment" } do | f | %>
	        
        <%= render :partial => 'announcement_form', :locals => { :f => f } %>
        <div class="ui buttons">
          <%= link_to "Cancel", {:controller => 'admin', :action => 'announcement_index'},class:"ui button" %>
          <div class="or"></div>
          <%= f.submit "Create" ,class:"ui green button"%>
          <%= f.hidden_field :id %>
        </div>
    
    <% end %>
    </div><!--grid-->
</div><!--grid-->