<% provide(:title, "Users") %>
<div class="ui one column stackable centered vertically padded page grid">
	<div class="twelve wide column">
	    <%= form_for @user_edit, :url => { :controller => 'admin', :action => 'user_update' }, html: { class: "ui form segment" } do | f | %>
			<div class="field">
				<lable>Account</lable>
				<div class="ui fluid icon input">
					<i class="user icon"></i>
					<%= f.text_field :account, :readonly => true, :required=>true %>
				</div>						
			</div>
			<div class="field">
				<lable>Password</lable>
				<div class="ui fluid icon input">
					<i class="lock icon"></i>
					<%= f.password_field :password, :required=>true %>
				</div>
			</div>					
		
			<div class="field">
				<lable>Privilege</lable>
				<div class="ui fluid input">
					<%= f.select :privilege, {:user => 1, :admin => 0} %>
				</div>						
			</div>	
	
	        <div class="ui buttons">
    		  <%= link_to "Cancel", {:controller => 'admin', :action => 'users_index'},class:"ui button" %>
    		  <div class="or"></div>
    		  <%= f.submit "Submit" ,class:"ui green button"%>
    		</div>
		<% end %>
	</div><!--grid-->
</div><!--grid-->

