<script>
    $(document).ready(function(){
        $('#fullpage').fullpage({
            anchors: ['news', 'books'],
            sectionsColor: ['#FFC107','#00BCD4'],            
            css3: true,            
            scrollOverflow: true
        });
    });
</script>


<div id="fullpage">
    <section class="twelve wide column centered section" id="section0">
        <% 
            i = 0
            yearMonthMark = ''
        %>
        <div id = "slideMenu">
            <% @announcement.each do | row | %>
                <% 
                    if row.title.length > 15 
                        row.title = row.title.slice(0, 15) + '...'
                    end
                    
                    yearMonth = row.created_at.strftime("%Y.%m")
                %>
                
                <span><%= yearMonth if yearMonth != yearMonthMark %></span>
                <% yearMonthMark = yearMonth %>
                
                
                <%= link_to row.title,  "#news/"+i.to_s %>
                <% i+=1 %>
            <% end %>
        </div>
    
        <% i = 0 %>
        <% @announcement.each do | row | %>
            <div class="slide" id="slide<%= i %>">
                </br>
                <h3  class="ui center aligned icon blue header">
                    <i class="circular bullhorn inverted icon"></i>
                    NEWS
                </h3>
                
                <article>
                    <h4><%= row.title %></h4>
                    <p><%= row.content %></p>
                    <p>create: <%= row.created_at %> update: <%= row.updated_at %></p>
                </article>
            </div>
        <% i+=1 %>
        <% end %>
    </section>
    
    <section class="twelve wide column centered section" id="section1">
        </br>
        <h3  class="ui center aligned icon header">
            <i class="circular book inverted icon"></i>
            BOOK LISTS
        </h3>
        <!--<ul>-->
            <% @book_order.each do | row | %>
                <%= form_tag(action: 'order', method: 'post')  do %>
                    <article class="ui segment">
                        <div class="ui three column page grid">
                            <div class="six wide column">
                                <% if !row["picture"].nil? %>
                                    <div class="image">
                                        <%= image_tag('upload_books/'+row["picture"], height: '300', width: '200') %>
                                    </div>
                                <% end %>
                            </div>
                            <section class = "six wide column">
                                <h3><%= row["bookname"] %></h3>
                                <ui class="ui list">
                                    <li>課程名稱：<%= row["coursename"] %></li>
                                    <li>訂價：<%= row["price"] %></li>
                                    <li>個取價：<%= row["price_single"] %></li>
                                    <li>團定價：<%= row["price_team"] %>(團訂人數限制：<%= row["team_limit"] %>)</li>
                                    <li>訂書期限：<%= row["booking_deadline"] %></li>
                                    <li>繳費期限：<%= row["pay_deadline"] %>(訂金：<%= row["price_booking"] %>)</li>
                                    <li>備註：<%= row["comment"] %></li>
                                </ui>
                            </section>
                            <section class = "four wide column">
                                <% if !row["user_id"].blank? %>
                                    <b>ordered</b>
                                    <ul class="ui list">
                                        <li><%= row["id"] %></li>
                                        <li><%= row["user_id"] %></li>
                                        <li><%= row["book_id"] %></li>
                                        <li><%= row["pay"] %></li>
                                        <li><%= row["affect"] %></li>
                                        <li><%= row["delete_yn"] %></li>
                                        <li><%= row["number"] %></li>
                                        <li><%= row["created_at"] %></li>
                                        <li><%= row["updated_at"] %></li>
                                    </ul>
                                    
                                    <% if row["affect"] == 1 %>
                                        <span style="color: green;">Order Complete</span>
                                    <% else %>
                                        <%= submit_tag "unorder" %>
                                        <%= hidden_field_tag(:book_id, row["book_id"]) %>
                                        <%= hidden_field_tag(:id, row["id"]) %>
                                    <% end %>
                                <% else %>
                                    <%= submit_tag "order" %>
                                    <%= hidden_field_tag(:book_id, row["id"]) %>
                                <% end %>
                            </section>
                        </div>
                    </article>
                <% end %>
            <% end %>
        <!--</ul>-->
    </section>
</div>