<section class="twelve wide column centered"  style="max-width: 650px;">
    <h3  class="ui center aligned icon blue header">
        <i class="circular bullhorn inverted icon"></i>
        NEWS
    </h3>
    <!--<ul>-->
        <% @announcement.each do | row | %>
            <article class = "segment ui">
                <%= row.title %>
                <ul>
                    <li><%= row.content %></li>
                    <li><%= row.created_at %></li>
                    <li><%= row.updated_at %></li>
                </ul>
            </article>
        <% end %>
    <!--</ul>-->
</section>

<section class="twelve wide column centered" >
    <h3  class="ui center aligned icon blue header">
        <i class="circular book inverted icon"></i>
        BOOK LISTS
    </h3>
    <ul>
        <% @book_order.each do | row | %>
            <%= form_tag(action: 'order', method: 'post')  do %>
                <li class = "segment ui">
                    <% if !row["picture"].nil? %>
                        <div>
                            <%= image_tag('upload_books/'+row["picture"], height: '300', width: '200') %>
                        </div>
                    <% end %>
                    <%= row["bookname"] %>
                    <ul>
                        <li><%= row["coursename"] %></li>
                        <li><%= row["price"] %></li>
                        <li><%= row["price_single"] %></li>
                        <li><%= row["price_team"] %></li>
                        <li><%= row["team_limit"] %></li>
                        <li><%= row["booking_deadline"] %></li>
                        <li><%= row["price_booking"] %></li>
                        <li><%= row["comment"] %></li>
                        <li><%= row["pay_deadline"] %></li>
                    </ul>
                </li>
                
                <li class = "segment ui">
                    <% if !row["user_id"].blank? %>
                        <b>ordered</b>
                        <ul>
                            <li><%= row["id"] %></li>
                            <li><%= row["user_id"] %></li>
                            <li><%= row["book_id"] %></li>
                            <li><%= row["pay"] %></li>
                            <li><%= row["affect"] %></li>
                            <li><%= row["delete_yn"] %></li>
                            <li><%= row["number"] %></li>
                            <li><%= row["created_at"] %></li>
                            <li><%= row["updated_at"] %></li>
                        </ul>
                        
                        <% if row["affect"] == 1 %>
                            <span style="color: green;">Order Complete</span>
                        <% else %>
                            <%= submit_tag "unorder" %>
                            <%= hidden_field_tag(:book_id, row["book_id"]) %>
                            <%= hidden_field_tag(:id, row["id"]) %>
                        <% end %>
                    <% else %>
                        <%= submit_tag "order" %>
                        <%= hidden_field_tag(:book_id, row["id"]) %>
                    <% end %>
                </li>
            <% end %>
        <% end %>
    </ul>
</section>