<script>
    $(document).ready(function(){
        $('#fullpage').fullpage({
            anchors: ['news', 'books'],
            sectionsColor: ['#FFC107','#00BCD4'],            
            css3: true,            
            scrollOverflow: true
        });
    });
</script>


<div id="fullpage">
    <section class="section" id="section0">
        <% i = 0 %>
        <% @announcement.each do | row | %>
        <div class="slide" id="slide<%= i %>">
            <!--
            </br>
            <h3  class="ui center aligned icon blue header">
                <i class="circular bullhorn inverted icon"></i>
                NEWS
            </h3>-->
            <div class = "ui centered grid">
                <div class = "two column row">
                    <aside id = "slideMenu" class = "three wide column">
                        <% 
                            j = 0 
                            yearMonthMark = ''
                        %>
                        <% @announcement.each do | row | %>
                            <% 
                                if row.title.length > 10 
                                    row.title = row.title.slice(0, 10) + '...'
                                end
                                
                                yearMonth = row.created_at.strftime("%Y.%m")
                            %>
                            
                            <span><%= yearMonth if yearMonth != yearMonthMark %></span>
                            
                            <% yearMonthMark = yearMonth %>
                            
                            <%= link_to row.title,  "#news/"+j.to_s, class: "ui button toNews" %>
                            </br>
                            <% j+=1 %>
                        <% end %>
                    </aside>
                    <article class = "nine wide column">
                        <div class="ui segment">
                            </br>
                            <h2><%= row.title %></h2>
                            </br>
                            <p class = "content"><%= row.content %></p>
                            </br>  
                            <p class = "time">update: <%= row.updated_at.strftime("%Y/%m/%d") %></p>
                        </div>
                    </article>
                </div>
            <% i+=1 %>
            <% end %>
            </div>
        </div>
    </section>
    
    <section class="section" id="section1">
        </br>
        <!--<h3  class="ui center aligned icon header">
            <i class="circular book inverted icon"></i>
            BOOK LISTS
        </h3>-->
        <div class="ui grid">
            <% @book_order.each do | row | %>
                <%= form_tag(action: 'order', method: 'post')  do %>
                    <article class=""><!--ui segment-->
                        <div class=""><!--ui three column page grid-->
                            <div class=""><!--six wide column-->
                                <% if !row["picture"].nil? %>
                                    <div class="image">
                                        <%= image_tag('upload_books/'+row["picture"], height: '300', width: '200') %>
                                    </div>
                                <% end %>
                            </div>
                            <section class = "six wide column">
                                <h2><%= row["bookname"] %></h2>
                                <ui class="ui list">
                                    <li>課程名稱：<%= row["coursename"] %></li>
                                    <li>訂價：<%= row["price"] %></li>
                                    <li>個取價：<%= row["price_single"] %></li>
                                    <li>團定價：<%= row["price_team"] %>(團訂人數限制：<%= row["team_limit"] %>)</li>
                                    <li>訂書期限：<%= row["booking_deadline"] %></li>
                                    <li>繳費期限：<%= row["pay_deadline"] %>(訂金：<%= row["price_booking"] %>)</li>
                                    <li>備註：<%= row["comment"] %></li>
                                </ui>
                            </section>
                            <section class = "four wide column">
                                <% if !row["user_id"].blank? %>
                                    <b>ordered</b>
                                    <ul class="ui list">
                                        <!--<li><%= row["id"] %></li>
                                        <li><%= row["user_id"] %></li>
                                        <li><%= row["book_id"] %></li>
                                        <li><%= row["affect"] %></li>
                                        <li><%= row["delete_yn"] %></li>
                                        <li><%= row["updated_at"] %></li>
                                        <li>訂書時間： <%= row["created_at"]  %></li>-->
                                        <li>訂購數量：<%= row["number"] %></li>
                                        <li>已付金額：<%= row["pay"] %></li>
                                    </ul>
                                    
                                    <% if row["affect"] == 1 %>
                                        <span style="color: green;">Order Complete</span>
                                    <% else %>
                                        <%= submit_tag "unorder", :data => { :confirm => "Are you sure to cancel this order ?" } %>
                                        <%= hidden_field_tag(:book_id, row["book_id"]) %>
                                        <%= hidden_field_tag(:id, row["id"]) %>
                                    <% end %>
                                <% else %>
                                    <%= submit_tag "order", :data => { :confirm => "Are you sure to order this book ?" } %>
                                    <%= hidden_field_tag(:book_id, row["id"]) %>
                                <% end %>
                            </section>
                        </div>
                    </article>
                <% end %>
            <% end %>
        </div>
    </section>
</div>
