<script>
    $(document).ready(function(){
        $('#fullpage').fullpage({
            anchors: ['news', 'books'],
            sectionsColor: ['#FFC107','#00BCD4'],            
            css3: true,            
            scrollOverflow: true
        });
    });
</script>


<div id="fullpage">
    <section class="section" id="section0">
        <% i = 0 %>
        <% @announcement.each do | row | %>
        <div class="slide" id="slide<%= i %>">
            <!--
            </br>
            <h3  class="ui center aligned icon blue header">
                <i class="circular bullhorn inverted icon"></i>
                NEWS
            </h3>-->
            <div class = "ui centered grid">
                <div class = "two column row">
                    <aside id = "slideMenu" class = "three wide column">
                        <% 
                            j = 0 
                            yearMonthMark = ''
                        %>
                        <% @announcement.each do | row | %>
                            <% 
                                sliceRowTitle = row.title
                                if row.title.length > 4 
                                    sliceRowTitle = row.title.slice(0, 4) + '...'
                                end
                                
                                yearMonth = row.created_at.strftime("%Y.%m")
                            %>
                            
                            <span><%= yearMonth if yearMonth != yearMonthMark %></span>
                            
                            <% yearMonthMark = yearMonth %>
                            
                            <%= link_to sliceRowTitle,  "#news/"+j.to_s, class: "ui button toNews" %>
                            </br>
                            <% j+=1 %>
                        <% end %>
                    </aside>
                    <article class = "nine wide column">
                        <div class="ui segment">
                            <h2 class="ui header"><%= row.title %></h2>
                            <div class="ui clearing divider"></div>
                            <p class = "content"><%= simple_format(row.content) %></p>
                            <div class="ui hidden divider"></div>  
                            <p class = "time">update: <%= row.updated_at.strftime("%Y/%m/%d") %></p>
                        </div>
                    </article>
                </div>
            <% i+=1 %>
            <% end %>
            </div>
        </div>
    </section>
    
    <section class="section" id="section1">
        </br>
        <!--<h3  class="ui center aligned icon header">
            <i class="circular book inverted icon"></i>
            BOOK LISTS
        </h3>-->
        <div class="ui one column page  grid">
            <% @book_order.each do | row | %>
                <%= form_tag(action: 'order', method: 'post')  do %>
                    <article class="ui two column middle aligned relaxed fitted stackable grid segment"><!--ui segment-->
                        <% if !row["picture"].nil? %>
                            <div class="column">
                                <%= image_tag('upload_books/'+row["picture"], height: '300', width: '200') %>
                            </div>
                            <div class="ui vertical divider"></div>
                        <% end %>
                        <section class = "column">
                                <h2 class="header"><%= row["bookname"] %></h2>
                                <div class="">
                                    <ui class="ui list">
                                        <li>課程名稱：<%= row["coursename"] %></li>
                                        <li>訂價：<%= row["price"] %></li>
                                        <li>個取價：<%= row["price_single"] %></li>
                                        <li>團定價：<%= row["price_team"] %><span class="whiteSpace important">(團訂人數限制：<%= row["team_limit"] %>)</span></li>
                                        <li>訂書期限：<%= DateTime.strptime(row["booking_deadline"].to_s, "%Y-%m-%d" ).strftime("%Y/%m/%d") %></li>
                                        <li>繳費期限：<%= DateTime.strptime(row["pay_deadline"].to_s, "%Y-%m-%d" ).strftime("%Y/%m/%d") %><span class="whiteSpace important">(訂金：<%= row["price_booking"] %>)</span></li>
                                        <li>備註：<%= row["comment"] %></li>
                                    </ui>
                                    
                                    <% if !row["user_id"].blank? %>
                                        <div class="extra content">  
                                            </br>
                                            <b class="mark status">ordered</b>
                                            </br>
                                            <!--<li>訂書時間： <%= row["created_at"]  %></li>-->
                                            <span>訂購數量：<%= row["number"] %></span>
                                            <span class="whiteSpace">已付金額：<%= row["pay"] %></span>
                                        </div>    
                                             
                                        <% if row["affect"] == 1 %>
                                            <span class="complete status">Order Complete</span>
                                        <% else %>
                                            </br>
                                            <%= submit_tag "unorder", :data => { :confirm => "Are you sure to cancel this order ?" }, class:"ui button" %>
                                            <%= hidden_field_tag(:book_id, row["book_id"]) %>
                                            <%= hidden_field_tag(:id, row["id"]) %>
                                        <% end %>
                                    <% else %>
                                        </br>
                                        <%= submit_tag "order", :data => { :confirm => "Are you sure to order this book ?" }, class:"ui blue button"  %>
                                        <%= hidden_field_tag(:book_id, row["id"]) %>
                                    <% end %>
                                    
                                </div>
                        </section>
                    </article>
                <% end %>
            <% end %>
        </div>
    </section>
</div>
