<%= form_for @user, :url => { :controller => 'user', :action => 'create' } do | f | %>
    <table>
        <tr>
            <td><%= f.label :account, "Account" %></td>
            <td><%= f.text_field :account %></td>
        </tr>
        
        <tr>
            <td><%= f.label :password, "Password" %></td>
            <td><%= f.password_field :password %></td>
        </tr>
        
        <tr>
            <td><%= f.label :password_confirm, "Password Confirm" %></td>
            <td><%= f.password_field :password_confirm %></td>
        </tr>
        
        <tr>
            <td><%= f.label :name, "Name" %></td>
            <td><%= f.text_field :name %></td>
        </tr>
        
        <tr>
            <td><%= f.label :email, "Email" %></td>
            <td><%= f.text_field :email %></td>
        </tr>
        
        <tr>
            <td><%= f.label :email_yn, "Email Notify" %></td>
            <td>yes<%= f.radio_button :email_yn, 1 %>no<%= f.radio_button :email_yn, 0 %></td>
        </tr>
        
        <tr>
            <td><%= f.label :cell_phone, "Cell Phone" %></td>
            <td><%= f.text_field :cell_phone %></td>
        </tr>
        
        <tr>
            <td><%= f.submit "Submit" %></td>
            <td><%= link_to "cancel", :controller => 'login', :action => 'login' %></td>
        </tr>
    </table>
<% end %>