<div class="ui one column stackable centered vertically padded page grid">
	<div class="twelve wide column">
		<form class="ui form segment">				
			<div class="field">
				<lable>Account</lable>
				<div class="ui fluid icon input">
					<i class="user icon"></i>
					<input name = "account" type="text" value = "" readonly="readonly">
				</div>						
			</div>
			<div class="field">
				<lable>Password</lable>
				<div class="ui fluid icon input">
					<i class="lock icon"></i>
					<input name = "passwd" type="password" placeholder = "Password"  autofocus required>
					</div>
			</div>					
		
			<div class="field">
				<lable>Email</lable>
				<div class="ui fluid input">
					<input name = "email" type="email" value = ""  required> 
					</div>						
			</div>	
	
	      	<div class="ui buttons">
			  <div class="ui button" >Cancel</div> 
			  <div class="or"></div>
			  <input type = "submit" class="ui positive button" value = "Update">
			</div>				
		</form>	
	</div><!--grid-->
</div><!--grid-->



<%= form_for @user, :url => { :controller => 'user', :action => 'update_profile' } do | f | %>
    <table>
        <tr>
            <td><%= f.label :account, "Account" %></td>
            <td><%= f.text_field :account, :readonly => true %></td>
        </tr>

        <tr>
            <td><%= f.label :name, "Name" %></td>
            <td><%= f.text_field :name %></td>
        </tr>
        
        <tr>
            <td><%= f.label :email, "Email" %></td>
            <td><%= f.text_field :email %></td>
        </tr>
        
        <tr>
            <td><%= f.label :email_yn, "Email Notify" %></td>
            <td>yes<%= f.radio_button :email_yn, 1 %>no<%= f.radio_button :email_yn, 0 %></td>
        </tr>
        
        <tr>
            <td><%= f.label :cell_phone, "Cell Phone" %></td>
            <td><%= f.text_field :cell_phone %></td>
        </tr>
        
        <tr>
            <td colspan="2"><%= f.submit "Submit" %></td>
        </tr>
    </table>
<% end %>

<%= form_for @user, :url => { :controller => 'user', :action => 'update_password' } do | f | %>
    <table>
        <tr>
            <td><%= f.label :password, "Password" %></td>
            <td><%= f.password_field :password %></td>
        </tr>
        
        <tr>
            <td><%= f.label :password_confirm, "Password Confirm" %></td>
            <td><%= f.password_field :password_confirm %></td>
        </tr>
        
        <tr>
            <td colspan="2"><%= f.submit "Submit" %></td>
        </tr>
    </table>
<% end %>

<%= link_to "cancel", :controller => 'order', :action => 'index' %>