<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

  <nav class="ui menu">
    <% if @is_login %>
        <%= render 'layouts/nav' %>
    <% end %>
  </nav>
    
  <section id="wrapper"> 
    <%= yield %>
  </section>

</body>
</html>
