<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  
  <nav class="<%= inverted_menu(yield(:title))%>">
    <% if @is_login %>
        <%= render 'layouts/nav' %>
    <% end %>
  </nav>
  
  <div id="error_message" style="color: red;">
    <%
      msg_all = ''
      @error_message.each do | msg | 
        
        msg_all += msg + '\n'
      end
    %>
    <% if msg_all != ''  %>
      <script>alert("<%= msg_all %>");</script>
    <% end %>
  </div>
  
  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
