<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<section id="wrapper">
  
  <header>
    <%= render 'layouts/header' %>
  </header>
  
  
    <% if @is_login %>
        <%= render 'layouts/nav' %>
    <% end %>
  
  
  <%= yield %>
  
</section>

</body>
</html>
